<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FitnessTracker"
        tools:targetApi="31">
        <activity
            android:name=".profile.pof"
            android:exported="false" />
        <activity
            android:name=".profile.Profile"
            android:exported="false" />
        <activity
            android:name=".pof"
            android:exported="false" />
        <activity
            android:name=".setup_pages.ActivityLevel"
            android:exported="false" />
        <activity
            android:name=".NavigationApp.ProfileActivity"
            android:exported="false"
            tools:ignore="MissingClass" />
        <activity
            android:name=".NavigationApp.MealsActivity"
            android:exported="false"
            tools:ignore="MissingClass" />
        <activity
            android:name=".NavigationApp.RunningActivity"
            android:exported="false"
            tools:ignore="MissingClass" />
        <activity
            android:name=".NavigationApp.HomeActivity"
            android:exported="false"
            tools:ignore="MissingClass" />
        <activity
            android:name=".setup_pages.GoalActivity"
            android:exported="true" />
        <activity
            android:name=".setup_pages.WeightActivitySelection"
            android:exported="false" />
        <activity
            android:name=".setup_pages.HeightActivitySelection"
            android:exported="false" />
        <activity
            android:name=".setup_pages.AgeActivity"
            android:exported="false" />
        <activity
            android:name=".setup_pages.Gender"
            android:exported="false" />
        <activity
            android:name=".setup_pages.SetupPage"
            android:exported="true" />
        <activity
            android:name=".Login_SignUp.LogIn"
            android:exported="false" />
        <activity
            android:name=".ForgotPassword.SetPassword"
            android:exported="false" />
        <activity
            android:name=".ForgotPassword.ForgottenPassword"
            android:exported="false" />
        <activity
            android:name=".Login_SignUp.SignUp"
            android:exported="false" />
        <activity
            android:name=".Boarding.Boarding4"
            android:exported="false" />
        <activity
            android:name=".Boarding.Boarding3"
            android:exported="false" />
        <activity
            android:name=".Boarding.Boarding2"
            android:exported="false" />
        <activity
            android:name=".Boarding.OnBoarding1"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- <intent-filter> -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.FitnessTracker">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
    </application>

</manifest>